body{
    background-color: rgb(24, 5, 32);
}
.header h1{
text-align: center;
color: floralwhite;

}

.plot{
    position: relative; top: 5px;
    color:floralwhite
}

.characters{
    color: floralwhite;
}
.set{
    text-align: center;
    position: relative;left: -0px; top:-478px;
    width: 605px;
    border: floralwhite 2px solid;
}

.costume{
    text-align: center;
position: relative; left: 608px; top: -501.2px;
width: 620px;
border: floralwhite 2px solid;
}

.header2 h1{
    text-align: center;
    color: floralwhite;
}

.description{
    color:floralwhite
}

.image1 Img{
    width: 310px;
    height: 250px;
}

.image2 Img{
    width: 310px;
    height: 250px;
    position: relative; left: 310px; top: -255.5px;
}

.image3 Img{
    width: 310px;
    height: 250px;
    position: relative; left: 620px; top: -512px;
}

.image4 Img{
    width: 310px;
    height: 250px;
    position: relative; left: 930px; top: -767.5px;
}
.header3 hr{
    position: relative; top: -780px
}
.header3 h1{
    text-align: center;
    color: floralwhite;
    position: relative; top: -780px
}
.description2{
    color:floralwhite;
    position: relative; top: -770px
}
.present h1{
    text-align: center;
    color: floralwhite;
    position: relative; top: -770px
}
.image1b Img{
    width: 400px;
    height: 300px;
    position: relative;left: 10px; top:-750px
}
.image2b Img{
    width: 400px;
    height: 300px;
    position: relative;left: 410px; top:-1057px
}
.image3b Img{
    width: 420px;
    height: 300px;
    position: relative; left: 810px; top:-1363px
}
.flashback h1{
    text-align: center;
    color: floralwhite;
    position: relative; top: -1370px
}
.image4b Img{
    width: 620px;
    height: 450px;
    position: relative; left: 20px; top:-1360px
}
.image5b Img{
    width: 620px;
    height: 450px;
    position: relative; left: 640px; top:-1816px
}
.home{
        text-align: center;
    position: relative; left: 320px; top: -1770px;
    width: 638px;
    border: floralwhite 2px solid;
}
.image1c Img{
    width: 300px;
    height: 250px;
    position: relative;
}

.image2c Img{
    width: 300px;
    height: 250px;
    position: relative; left: 300px; top: -255.5px;
}
.image3c Img{
    width: 329px;
    height: 250px;
    position: relative; left: 600px; top: -511.5px;
}
.image4c Img{
    width: 302px;
    height: 250px;
    position: relative; left: 930px; top: -767.5px;
}

.image1d Img{
    width: 300px;
    height: 250px;
    position: relative;left: 10px; top:-750px
}
.image2d Img{
    width: 300px;
    height: 250px;
    position: relative;left: 310px; top:-1005px
}
.image3d Img{
    width: 300px;
    height: 250px;
    position: relative; left: 610px; top:-1260.5px
}
.image4d Img{
    width: 300px;
    height: 250px;
    position: relative; left: 910px; top:-1516px
}
.image1e Img{
    width: 200px;
    height: 300px;
    position: relative; left: 10px; top:-1370px
}
.image2e Img{
    width: 250px;
    height: 300px;
    position: relative; left: 210px; top:-1675.5px
}
.image3e Img{
    width: 300px;
    height: 300px;
    position: relative; left: 460px; top:-1981px
}
.image4e Img{
    width: 250px;
    height: 300px;
    position: relative; left: 760px; top:-2287px
}
.image5e Img{
    width: 200px;
    height: 300px;
    position: relative; left: 1010px; top:-2592.5px
}
.home2{
    text-align: center;
    position: relative; left: 285px; top: -2500px;
    width: 638px;
    border: floralwhite 2px solid;

}
